<!doctype html>
<html class="no-js" lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>结账</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" href="lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="lib/css/preview.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="assets/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/sj-nav.css" />
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>
    <body>
        

        <div class="canvas-wrapper">
            <!-- 个人中心 -->
            <div class="menu-wrap">
                    <nav class="menu">
                        <div class="icon-list">
                            <h5>货币:</h5>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">人民币</button>
                                <button type="button" class="btn btn-default">美元</button>
                            </div>
                            <h5 class="mt-2">Language</h5>
                            <a href="cart.html"><img src="assets/img/language/english.png" alt=""><span>英语</span></a>
                            <a href="wishlist.html"><img src="assets/img/language/es.png" alt=""><span>西班牙语</span></a>
                            <a href="checkout.html"><img src="assets/img/language/fr.png" alt=""><span>法语</span></a>
                            <a href="login.html"><img src="assets/img/language/ge.png" alt=""><span>德语</span></a>
                            <h5 class="mt-2">我的账户:</h5>
                            <a href="cart.html"><i class="pe-7s-cart"></i><span>我的购物车</span></a>
                            <a href="wishlist.html"><i class="pe-7s-like"></i><span>我的订单</span></a>
                            <a href="checkout.html"><i class="pe-7s-check"></i><span>结算</span></a>
                            <a href="login.html"><i class="pe-7s-next-2"></i><span>登录</span></a>
                            <a href="register.html"><i class="pe-7s-add-user"></i><span>注册</span></a>
                        </div>
                    </nav>
                    <button class="close-button" id="close-button">关闭菜单</button>
                    <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                            <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"/>
                        </svg>
                    </div>
                </div>
        
                <div class="content-wrap">
                    <div class="content">
    
                    <!-- 导航开始 -->
                    <header class="header-area home-style-2">
                            <div class="header-bottom">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-6">
                                            <div class="logo">
                                                <a href="index.html">
                                                    <img src="assets/img/logo/logo-black.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-6">
                                            <div class="cart-menu">
                                                <div class="user user-style-3 f-right">
                                                    <a href="#" id="open-button">
                                                        <i class="pe-7s-menu"></i>
                                                    </a>
                                                </div>
                                                <div class="search-style-2 f-right">
                                                    <a class="icon-search-2" href="#">
                                                        <i class="pe-7s-search"></i>
                                                    </a>
                                                    <div class="search2-content">
                                                        <form action="#">
                                                            <div class="search-input-button2">
                                                                <input class="" placeholder="Search" type="search">
                                                                <button class="search-button2" type="submit">
                                                                    <i class="pe-7s-search"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="shopping-cart f-right">
                                                    <a class="top-cart" href="cart.html"><i class="pe-7s-cart"></i></a>
                                                    <span>01</span>
                                                    <ul>
                                                        <li>
                                                            <div class="cart-img-price">
                                                                <div class="cart-img">
                                                                    <a href="#"><img src="assets/img/cart/1.jpg" alt="" /></a>
                                                                </div>
                                                                <div class="cart-content">
                                                                    <h3><a href="#">头戴式耳机</a> </h3>
                                                                    <span class="cart-price">1 x $ 299.00</span>
                                                                </div>
                                                                <div class="cart-del">
                                                                    <i class="pe-7s-close-circle"></i>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p class="total">
                                                                小计:
                                                                <span>$299.00</span>
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="buttons">
                                                                <a class="my-cart" href="cart.html">查看购物车</a>
                                                                <a class="checkout" href="checkout.html">结账</a>
                                                            </p>
                                                        </li>
                                                    </ul>							
                                                </div>
                                                <div class="main-menu f-right">
                                                    <nav>
                                                        <ul>
                                                            <li><a href="index.html">主页</a>
                                                                <ul class="dropdown"> 
                                                                    <li><a href="index.html">主页版1 </a></li>
                                                                    <li><a href="index-2.html">主页版 2 </a></li>
                                                                    <li><a href="index-3.html">主页版 3 </a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="mega-position"><a href="shop-page.html">女性 </a>
                                                                <div class="mega-menu mega-4-colm">
                                                                    <ul>
                                                                        <li class="menu-title uppercase">衣物</li>
                                                                        <li><a href="shop-page.html">连衣裙</a></li>
                                                                        <li><a href="shop-page.html">最上等的</a></li>
                                                                        <li><a href="shop-page.html">裙子</a></li>
                                                                        <li><a href="shop-page.html">开衫</a></li>
                                                                        <li><a href="shop-page.html">外衣</a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="menu-title uppercase">珠宝</li>
                                                                        <li><a href="shop-page.html">戒指</a></li>
                                                                        <li><a href="shop-page.html">盒子</a></li>
                                                                        <li><a href="shop-page.html">头冠</a></li>
                                                                        <li><a href="shop-page.html">腕带</a></li>
                                                                        <li><a href="shop-page.html">手镯</a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="menu-title uppercase">鞋</li>
                                                                        <li><a href="shop-page.html">平板</a></li>
                                                                        <li><a href="shop-page.html">靴子</a></li>
                                                                        <li><a href="shop-page.html">运动鞋</a></li>
                                                                        <li><a href="shop-page.html">拖鞋</a></li>
                                                                        <li><a href="shop-page.html">长筒鞋</a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="menu-img">
                                                                            <a href="shop-page.html"><img src="assets/img/shop/1.jpg" alt=""></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="mega-position"><a href="shop-page.html">男性 </a>
                                                                <div class="mega-menu mega-3-colm">
                                                                    <ul>
                                                                        <li class="menu-title uppercase">衣物</li>
                                                                        <li><a href="shop-page.html">外套</a></li>
                                                                        <li><a href="shop-page.html">衬衫 </a></li>
                                                                        <li><a href="shop-page.html">领带</a></li>
                                                                        <li><a href="shop-page.html">大衣</a></li>
                                                                        <li><a href="#"> 夹克</a></li>
                                                                        <li><a href="shop-page.html">T-血衫</a></li>
                                                                        <li><a href="shop-page.html">裤子</a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="menu-title uppercase">鞋</li>
                                                                        <li><a href="shop-page.html">平板</a></li>
                                                                        <li><a href="shop-page.html">靴子</a></li>
                                                                        <li><a href="shop-page.html">运动鞋</a></li>
                                                                        <li><a href="shop-page.html">拖鞋</a></li>
                                                                        <li><a href="shop-page.html">长筒鞋</a></li>
                                                                        <li><a href="shop-page.html">休闲鞋</a></li>
                                                                        <li><a href="shop-page.html">短袜</a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="menu-img">
                                                                            <a href="shop-page.html"><img src="assets/img/shop/1.jpg" alt=""></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li><a href="shop-page.html">商铺</a>
                                                                <div class="mega-menu mega-2-colm">
                                                                    <ul>
                                                                        <li class="menu-title uppercase">珠宝</li>
                                                                        <li><a href="shop-page.html">戒指</a></li>
                                                                        <li><a href="shop-page.html">盒子</a></li>
                                                                        <li><a href="shop-page.html">头冠</a></li>
                                                                        <li><a href="shop-page.html">腕带</a></li>
                                                                        <li><a href="shop-page.html">手镯</a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="menu-title uppercase">鞋</li>
                                                                        <li><a href="shop-page.html">平板</a></li>
                                                                        <li><a href="shop-page.html">靴子</a></li>
                                                                        <li><a href="shop-page.html">运动鞋</a></li>
                                                                        <li><a href="shop-page.html">拖鞋</a></li>
                                                                        <li><a href="shop-page.html">长筒鞋</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li><a href="#">页面</a>
                                                                <ul class="dropdown">
                                                                    <li><a href="about-us.html">关于我们 </a></li>
                                                                    <li><a href="cart.html">购物车</a></li>
                                                                    <li><a href="checkout.html">结账</a></li>
                                                                    <li><a href="wishlist.html">订单</a></li>
                                                                    <li><a href="login.html">登录</a></li>
                                                                    <li><a href="register.html">注册</a></li>
                                                                    <li><a href="contact.html">联系</a></li>
                                                                    <li><a href="shop-page.html">商铺页面</a></li>
                                                                    <li><a href="shop-list.html">商铺名单</a></li>
                                                                    <li><a href="single-product.html">单一产品</a></li>
                                                                    <li><a href="404.html">404 错误</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="blog-page.html">收藏</a>
                                                                <ul class="dropdown">
                                                                    
                                                                </ul>
                                                            </li>
                                                            <li><a href="contact.html">足迹</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </header>
                    <!-- 导航结束 -->


                    <!-- breadcrumbs start -->
                    <div class="breadcrumbs-area breadcrumb-bg ptb-100">
                        <div class="container">
                            <div class="breadcrumbs text-center">
                                <h2 class="breadcrumb-title">结账页面</h2>
                                <ul>
                                    <li>
                                        <a class="active" href="index.html">主页</a>
                                    </li>
                                    <li>结账</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- breadcrumbs area end -->

                    <!-- checkout area start -->
                    <div class="checkout-area ptb-100">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="returning-customer">
                                        <h3><i class="fa fa-user"></i> 游客? <span id="customer">点击此处登陆</span></h3>
                                        <div id="customer-login" class="coupon-content">
                                            <div class="coupon-info">
                                                <p class="coupon-text">如果您拥有账户，请在下面的框中输入您的详细信息。如果您没有账户，请前往注册新的账户。</p>
                                                <form action="#">
                                                    <p class="form-row-first">
                                                        <label>邮箱 <span class="required">*</span></label>
                                                        <input type="text">
                                                    </p>
                                                    <p class="form-row-last">
                                                        <label> 密码<span class="required">*</span></label>
                                                        <input type="text">
                                                    </p>
                                                    <p class="form-row">					
                                                        <input type="submit" value="登录">
                                                        <label>
                                                            <input type="checkbox">
                                                            记住账号 
                                                        </label>
                                                    </p>
                                                    <p class="lost-password">
                                                        <a href="#">忘记密码?</a>
                                                    </p>
                                                    <div class="new-account">
                                                            <p>无账号? <a href="register.html">点击注册一个新的账号</a></p>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="billing-details-area">
                                        <h2>结算明细</h2>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="billing-input">
                                                        <label>我的地址<span class="required">*</span>
                                                        </label>
                                                        <select v-model="defaultAddress">
                                                            <option v-for="item in order.customer.addressList" :value="item" >{{item.address}}</option>
                                                        </select>
                                                    </div>
                                                    </div>
                                                <div class="col-md-6">
                                                    <div class="billing-input">
                                                        <label>收货人<span class="required">*</span></label>
                                                        <input v-model="defaultAddress.name" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="billing-input">
                                                        <label>电话<span class="required">*</span>
                                                        </label>
                                                        <input type="text" v-model="defaultAddress.phone">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="billing-input">
                                                        <label>地址
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="email" v-model="defaultAddress.address">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="billing-input">
                                                            <label>其他
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input type="button" value="添加新地址">
                                                        </div>
                                                    </div>
                                               
                                                <div class="col-md-12">
                                                    <div class="billing-input">
                                                        <label>
                                                            备注
                                                            <span class="required">*</span>
                                                        </label>
                                                        <textarea v-model="order.remark" id="checkout-mess" placeholder="填写您需要的备注"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="your-order-payment">
                                        <div class="your-order">
                                            <h2>你的订单</h2>
                                            <ul>
                                                <li v-for="item in order.orderItems">{{item.commodity.title}}<span>$ {{item.commodity.price}}</span></li>
                                                <li class="order-total">订单总价 <span>$ {{order.total}}</span></li>
                                            </ul>
                                        </div>
                                        <div class="your-payment">
                                            <h2>付款方式</h2>
                                            <div class="payment-method">
                                                <div class="payment-accordion">
                                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="col-md-12">
                                                                    <div class="billing-input">
                                                                        <select >
                                                                            <option>支付宝</option>
                                                                            <option>微信</option>
                                                                            <option>银联</option>
                                                                        </select>
                                                                    </div>
                                                                    </div>
                                                        
                                                        
                                                    </div>
                                                    <div class="order-button-payment">
                                                        <input @click="addOrder" type="submit" value="确认支付" />
                                                    </div>								
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- checkout area end -->
                   <!-- 订阅区域开始 -->
                   <div class="subscribe-area gray-bg">
                        <div class="container">
                            <div class="subscribe-bg ptb-80">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                                        <div class="subscribe-from
                                            text-center">
                                            <h3>订阅我们的通讯</h3>
                                            <form action="#">
                                                <input placeholder="输入邮箱" type="email">
                                                <button type="submit">订阅</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 订阅区域结束 -->

                    <!-- 页脚开始 -->
                    <footer class="footer-area">
                        <div class="container">
                            <div class="footer-top pt-60 pb-30">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="footer-widget mb-30">
                                            <div class="footer-logo">
                                                <a href="index.html">
                                                    <img src="assets/img/logo/logo-black.png" alt="">
                                                </a>
                                            </div>
                                            <div class="widget-info">
                                                <p>
                                                    <i class="pe-7s-map-marker"> </i>
                                                    <span>
                                                        #湖南省长沙市天心区.
                                                        <br>
                                                        <span class="location">newer科技公司</span>
                                                    </span>
                                                </p>
                                                <p>
                                                    <i class="pe-7s-mail"></i>
                                                    <span>
                                                        <a href="mailto:contact@company.com">hloong.x@qq.com</a>
                                                    </span>
                                                </p>
                                                <p>
                                                    <i class="pe-7s-call"></i>
                                                    <span>+185 7439 5770 </span>
                                                </p>
                                            </div>
                                            <div class="footer-social">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 hidden-sm">
                                        <div class="footer-widget mb-30">
                                            <div class="footer-title">
                                                <h3>类别</h3>
                                            </div>
                                            <div class="widget-text">
                                                <ul>
                                                    <li><a href="#"> 服装</a></li>
                                                    <li><a href="#">鞋子 </a></li>
                                                    <li><a href="#">包包 </a></li>
                                                    <li><a href="#">手表 </a></li>
                                                    <li><a href="#">珠宝 </a></li>
                                                    <li><a href="#"> 军火</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="footer-widget mb-30">
                                            <div class="footer-title">
                                                <h3>服务</h3>
                                            </div>
                                            <div class="widget-text">
                                                <ul>
                                                    <li><a href="#">关于我们 </a></li>
                                                    <li><a href="#">退货 </a></li>
                                                    <li><a href="#">发货 </a></li>
                                                    <li><a href="#">物流 </a></li>
                                                    <li><a href="#">联系客服  </a></li>
                                                    <li><a href="#">投诉 </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <div class="footer-widget mb-30">
                                            <div class="footer-title">
                                                <h3>快速链接</h3>
                                            </div>
                                            <div class="widget-text">
                                                <ul>
                                                    <li><a href="#">登录 </a></li>
                                                    <li><a href="#">注册 </a></li>
                                                    <li><a href="#">订单 </a></li>
                                                    <li><a href="#">购物车</a></li>
                                                    <li><a href="#">结账 </a></li>
                                                    <li><a href="#">登记 </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="footer-widget mb-30">
                                            <div class="footer-title">
                                                <h3>相关</h3>
                                            </div>
                                            <div class="widget-text">
                                                <ul>
                                                    <li><a href="#">退货政策 </a></li>
                                                    <li><a href="#">隐私政策 </a></li>
                                                    <li><a href="#">产品保修 </a></li>
                                                    <li><a href="#">论坛</a></li>
                                                    <li><a href="#">订单跟踪 </a></li>
                                                    <li><a href="#">我套你猴子 </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-bottom ptb-20">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="copyright">
                                            <p>
                                                版权 © 2019
                                                <a href="http://www.17sucai.com/">长沙newer</a>
                                                . 最强项目小组.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="payment f-right">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- 页脚结束 -->
                </div>
                <!-- content end -->
            </div>
            <!-- content-wrap end -->
        </div>

        <!-- vue -->
        <script>
        new Vue({
            el:'.canvas-wrapper',
            data:{
                order:{
                    id:0,
                    customer:{
                        id:0,
                        netname:'张三',
                        phone:'12345678',
                        email:'123@qq.com',
                        password:'',
                        addressList:[],
                        cart:[]
                    },
                    name:'赵六',
                    phone:'',
                    address:'',
                    time:'',
                    payStatus:0,    //支付状态
                    payway:0,       //支付方式
                    sendStatus:0,   //商品状态
                    hidden:0,       //客户是否删除订单
                    total:100,      //订单总价
                    orderItems:[],
                    remark:''       //订单备注
                },
                address:{
                    id:0,
                    name:'张三',
                    phone:'12345678',
                    address:'长沙市雨花区'
                },
                orderItem:{
                    commodity:{
                        id:0,
                        title:'耳机',
                        description:'电子',
                        price:105,
                        shelf:0,
                        recommed:0,
                        stock:123,
                        category:'ccc',
                        brand:'bbb',
                        specList:[]
                    },
                    quantity:12,
                    param:'',
                },
                name:'',
                defaultAddress:{},      //默认地址，当前选择的地址
                pageNew:1,              //当前页码
            },
            methods: {
                // 初始化,获取订单列表
                init:function(){
                    // axios.get('').then(Response=>{
                    //     this.order=Response.data;
                    // });
                    this.order.orderItems.push(this.orderItem);
                    this.order.orderItems.push(this.orderItem1);
                    this.order.customer.addressList.push(this.address);
                    this.order.customer.addressList.push(this.address1);
                    this.order.customer.addressList.push(this.address2);
                    if(this.order.customer.addressList!=null){
                        this.defaultAddress=this.order.customer.addressList[0];
                    }
                    console.log(this.order);
                },

                //支付订单 完成跳转首页
                addOrder:function(){
                    const param=new URLSearchParams();
                    param.append("Orders",this.order)
                    axios.post(`${this.url}/api/v1/order/add`,param).then(Response=>{});
                    console.log('支付成功');                    
                }
            },
            mounted() {
                this.init();
            }
        })
        </script>

		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/snap.svg-min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.validate.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
		<script src="lib/js/jquery.nivo.slider.js"></script>
		<script src="lib/home.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/classie.js"></script>
		<script src="assets/js/main3.js"></script>
    </body>

</html>
